apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: sample-app
  namespace: monitoring
spec:
  selector:
    matchLabels:
      app: sample-app
  endpoints:
    - port: http-metrics
      interval: 15s
  namespaceSelector:
    matchNames:
      - dev
